@use 'variables' as *;
@use 'mixins' as *;

.game {
  height: auto;
  width: 80%;
  max-width: 350px;
  font-size: 1rem;
  gap: .75rem;
  display: flex;
  flex-direction: column;

  .back-btn {
    color: $Card-background;
    position: absolute;
    left: 1rem;
    top: 1rem;
    font-size: 2rem;

    @media screen and (min-width:1000px) {
      transition: .5s;
      font-size: 3.5rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: start;
    width: 100%;
    color: $Card-background;
    letter-spacing: .75px;
    font-weight: 700;
  }

  .game-container {
    width: 100%;
    @include card();
    padding: 2rem 1.5rem;
    position: relative;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    .quiz-img {
      position: absolute;
      width: 125px;
      top: -60px;
      right: 0;
    }

    .question-container {
      margin-top: .5rem;
      width: 100%;

      .question {
        font-size: 1.15rem;
        color: $Font-color;
        font-weight: 700;
      }

      img {
        width: 90px;
        height: 50px;
      }
    }

    .options-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      .option {
        border-radius: 10px;
        border: none;
        background: none;
        border: 2px solid $Option-color;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        font-size: .85em;
        color: $Option-color;
        font-weight: 600;

        @media screen and (min-width: 1000px){
          cursor: pointer;
          transition: .25s;
          &:hover {
            transition: .25s;
            border-color: $Card-background;
            background-color: $Orange;
            color: $Card-background;
          }
        }

        &.correct {
          transition: .5s;
          background-color: $Correct-option;
          color: $Card-background;
          border-color: $Card-background;
        }

        &.incorrect {
          transition: .5s;
          background-color: $Incorrect-option;
          color: $Card-background;
          border-color: $Card-background;
        }

        .option-letter {
          margin-right: 1.4rem;
        }

        .option-text {
          font-weight: 600;
        }

        .answer-icon-container {
          flex: 1 1;
          display: flex;
          justify-content: flex-end;

          .answer-icon {
            font-size: 1.15rem;
          }
        }
      }
    }

    .bottom-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .current-streak {
        flex: 1 1;
        color: $Font-color;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }

    .next-btn-container {
      display: flex;
      justify-content: flex-end;

      .next-btn {
        font-size: .9rem;
        color: $Card-background;
        font-weight: 500;
        letter-spacing: .5px;
        padding: .5rem 1.5rem;
        border: none;
        background: none;
        background-color: $Orange;
        border-radius: 10px;

        @media screen and (min-width:1000px){
          transition: .25s;
          cursor: pointer;

          &:hover {
            transition: .25s;
            transform: scale(0.95);
          }
        }
      }
    }
  }

  .best-streak-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $Card-background;
    
    h3 {
      text-align: center;
      font-weight: 700;
      letter-spacing: .5px;
    }
  }
}