@use 'variables' as *;

.game {
  width: 80%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 1rem;
  gap: .5rem;

  h2 {
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: start;
    width: 100%;
    color: $Card-background;
    letter-spacing: .75px;
    font-weight: 700;
  }

  .game-container {
    width: 100%;
    background-color: $Card-background;
    border-radius: 15px;
    padding: 2rem 1.5rem;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .quiz-img {
      position: absolute;
      width: 125px;
      top: -60px;
      right: 0;
    }

    .question-container {
      margin-top: .5rem;

      .question {
        font-size: 1.15rem;
        color: $Font-color;
        font-weight: 700;
      }

      img {
        width: 90px;
        height: 50px;
      }
    }

    .options-container {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;

      .option {
        border-radius: 10px;
        border: none;
        background: none;
        border: 2px solid $Option-color;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        font-size: .85em;
        color: $Option-color;
        font-weight: 600;

        p {
          font-weight: 700;
          margin-right: 1.5rem;
        }
      }
    }

    .next-btn-container {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .next-btn {
        font-size: 1rem;
        color: $Card-background;
        font-weight: 500;
        letter-spacing: .5px;
        padding: .5rem 1.5rem;
        border: none;
        background: none;
        background-color: #fba51a;
        border-radius: 10px;
      }
    }
  }


}