@use 'variables' as *;

@mixin card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.912);
  border-radius: 15px;
  max-width: 350px;
}

@mixin btn {
  color: $Font-color;
  font-size: 1.1rem;
  font-weight: 600;
  width: 150px;
  padding: .5rem;
  border: none;
  background: none;
  border: 2px solid $Font-color;
  border-radius: 10px;

  @media screen and (min-width: 1000px) {
    transition: .5s;
    cursor: pointer;
    &:hover {
      transition: .5s;
      transform: scale(0.95);
    }
  }
}