@use 'menu';
@use 'variables' as*;
@use 'game';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  height: 100vh;
  background: url('../images/background.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  padding: 0 .5rem;
  color: $Card-background;

  a {
    text-decoration: none;
    color: $Card-background;
    font-weight: 600;
  }
}